<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset("bundles/app/css/bootstrap.min.css") }}" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/app/js/angular.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/angular-resource.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/app.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
