{% extends "::base.html.twig" %}
{% block body %}
    <div class="container"  ng-app="Boards" ng-controller="BusBoardsController as bus">
        <div class="col-lg-6">
            <h1>Przystanki:</h1>
            <form class="form-horizontal" >
                <div class="form-group">
                    <label for="board" class="col-sm-2 control-label">Przystanek:</label>
                    <div class="col-sm-10">
                        {#<select ui-select2  ng-options="item as item for item in busBoards" ng-model="currentBoard"  ng-change="change()" class="form-control" id="board" name="board">#}
                            {#<option value="">Wybierz przystanek</option>#}

                        {#</select>#}

                        <ui-select ng-model="currentBoard" allow-clear on-select="change($item, $model)">
                            <ui-select-match placeholder="Wybierz przystanek">{{ '{{$select.selected }}' }}</ui-select-match>
                            <ui-select-choices repeat="item in busBoards | filter: $select.search">
                                <span>{{ '{{ item }}' }}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-6" ng-show="currentBoard">
            <h1>Wybrany przystanek: {{ '{{ currentBoard }}' }}</h1>
            <p ng-hide="entries.length">Ładowanie danych...</p>
            <ul ng-show="entries">
                <li ng-repeat="entry in entries">
                     {{ '{{ entry.bus_line.name }}' }} | {{ '{{ entry.direction }}' }} | {{ 'za {{ getTime(entry.stop_at) }} minut' }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
